@model Client.Models.FridgeProducts.FridgeProductForDeleteViewModel

@{
    Layout = "_PopUpPartial";
}

<div class="modal-body">
    @using (@Html.BeginForm("DeleteProductFromFridgeByIdAsync", "FridgesProducts"))
    {
        @Html.HiddenFor(m => @Model.Id)
        <div class="form-group">
            <span>Are you sure you'd like to delete this product from the fridge? This action cannot be undone</span>
        </div>
    }
</div>
