@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-primary m-3" style="font-size:50px">Welcome to Fridge Manager</h1>
</div>
<br /><br />
<div class="text-secondary" style="font-size:22px">
    @*<p>The topic of this project is the management of fridges and products. 
        Click on the link 'Fridges' to see the list of fridges.
        Click on the link 'Products' to see the list of products.
    </p>
    <hr />
    <p>
        In the tables with infromation about fridges and products there are 2 buttons: edit and delete.
        Click the 'Edit' button to update the information.
        Click the 'Delete' button to delete this record.
    </p>
    <hr />
    <p>You can to create a new product or fridge or put a product into a fridge.To do this, you have to click the 'Create' button.</p>
    <hr />
    <p>
        This project includes two parts: server and client. The server part was created using ASP.NET Core Web API.
        The client part was created using ASP.NET Core MVC. The server interacts with the database using Entity Framework Core.
    </p>
>*@
</div>
