@model Client.Models.Users.SignUpViewModel

@{
    ViewData["Title"] = "Sign Up";
    Layout = "_Init";
}

<div class="blue-container">
    <div class="signup-form pt-5">
        @using (@Html.BeginForm("SignUpPostAsync", "UserManagement", FormMethod.Post))
        {
            <h2>Sign Up</h2>
            <p>Enter your personal data to create an account!</p>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <input asp-for="Name" class="form-control" placeholder="Name" autocomplete="off" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <input asp-for="Surname" class="form-control" placeholder="Surname" autocomplete="off" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input asp-for="UserName" class="form-control" placeholder="User Name" required autocomplete="off" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" required autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" type="email" class="form-control" placeholder="Email" required autocomplete="off" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
            </div>
        }
        <div class="hint-text">Already have an account? @Html.ActionLink("Sign in here", "Index")</div>
    </div>
</div>